* {
    box-sizing: border-box;
}

h1 {
    margin-top:     20px;
    margin-bottom:  5px;
}

h3 {
    margin-top:     20px;
    margin-bottom:  5px;
}

p {
    margin-top:     0px;
    margin-bottom:  0px;
    padding-top:    5px;
    padding-bottom: 5px;
    line-height:    140%;
}

a {
    text-decoration: none;
    color: #0645AD;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.navigation {
    list-style-type: none;
    margin: 0;
    max-width: 1000px;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.subnavigation {
    list-style-type: none;
    margin: 0;
    max-width: 1000px;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
    position: fixed;
    top: 40px;
    width: 100%;
}

li {
    float: left;
}

.white {
    display: block;
    color: #aaa;
    text-align: center;
    height: 40px;
    padding: 0px 15px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.black {
    display: block;
    color: #666;
    text-align: center;
    height: 40px;
    padding: 0px 15px;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.active {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #555;
    height: 40px;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.bold {
    display: block;
    text-align: center;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    height: 40px;
    padding: 0px 15px;
    display: table-cell;
    vertical-align: middle;
}

.white:hover {
    color: #fff;
}

.black:hover {
    color: #000;
}

.banner {
    height:auto;
    width:100%;
}


.header {
    padding-top:40px;
}

.main {
    padding: 5px 15px;
    background-color:#fff;
    width: auto;
}

.subtitle {
    color: #888;
}



/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    height: auto;
}

.wide {
    width: 61.8%;
}

.narrow {
    width: 38.2%;
}

.allwidth {
    width: 100%;
}

/* Footer style */
.footer {
    text-align: center;
    font-size: 10pt;
    color: #999;
}

.footer:after {
    content: "2022 Reza Nopour, \a HTML and CSS by Albert Peiret on GitHub";
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 618px) {
    .column  {
        width: 100%;
    }
    
    .banner {
        overflow: hidden;
        width: 100%;
    }
    
    .banner img {
        width: 150%;
        margin-left: -10%;
        margin-right: -40%;
    }
}

/* Clear floats after the columns */
.row {
    margin-top:     10px;
    margin-bottom:  30px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}



